html,
body {
    width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
}

button.clean {
    outline: none;
    border: none;

    &:focus {
        outline: none;
        border: none;
    }
}

.white-icon {
    path {
        fill: white;
    }
}

.dark-icon {
    path {
        fill: dark;
    }
}

.scroll-hidden {
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}